<div class="container__accordion">

  <h2 class="container__text">{{ section.settings.heading }}</h2>

  {% for block in section.blocks %}
    <button class="accordion">{{ block.settings.title }}</button>
    <div class="panel">
      <p>{{ block.settings.description }}</p>
    </div>
  {% endfor %}
  
</div>

{%- style -%}  

.container__accordion {
  width: 800px;
  margin: 0 auto;
  padding-bottom: 12rem;
}

button {
  font-family: 'Poppins';
  font-weight: 500;
}

.container__text {
  text-align: center;
}

.accordion {
  background-color: #fff;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 17px;
  transition: 0.4s;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 1px 4px 0px;
  margin: 6px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.active, .accordion:hover {
  /* background-color: #ededed; */
  box-shadow: rgb(253 61 103 / 20%) 0px 2px 8px 0px;
  color: #FD3D67;
}

.accordion:after {
  content: '\002B';
  color: #FD3D67;
  font-weight: 400;
  float: right;
  margin-left: 10px;
  font-size: 24px;
}

.active:after {
  content: "\2212";
}

.panel {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

{%- endstyle -%}  

{% javascript %}

var acc = document.getElementsByClassName("accordion");
var i;

for (i = 0; i < acc.length; i++) {
  acc[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var panel = this.nextElementSibling;
    if (panel.style.maxHeight) {
      panel.style.maxHeight = null;
    } else {
      panel.style.maxHeight = panel.scrollHeight + "px";
    } 
  });
}
{% endjavascript %}


{% schema %}
{
  "name": "Accordion",
  "tag": "section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "label": "Section title",
      "default": "FAQ"
    }
  ],
  "blocks": [
    {
      "type": "title",
      "name": "Item",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "default": "Quick links",
          "label": "Title"
        },
        {
          "type": "richtext",
          "id": "description",
          "label": "Description"
        }
      ]
    }
  ]
}
{% endschema %}
